{namespace rm=Sng\Recordsmanager\ViewHelpers}

<f:layout name="Default"/>

<f:section name="content">

    <f:form absolute="1" arguments="{filter:'filter'}" method="post" class="form-inline" name="editform">

        <div class="form-group" style="width:300px;">
            <label for="tceforms-datefield-startdate">
                <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:from"/>
            </label>
            <div class="input-group">
                <rm:date name="tx_recordsmanager_txrecordsmanagerm1_recordsmanagerexport[startdate]" value="{startdate}"/>
            </div>
        </div>

        <div class="form-group" style="width:300px;">
            <label for="tceforms-datefield-enddate">
                <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:to"/>
            </label>
            <div class="input-group">
                <rm:date name="tx_recordsmanager_txrecordsmanagerm1_recordsmanagerexport[enddate]" value="{enddate}"/>
            </div>
        </div>

        <button type="submit" class="btn btn-default">OK</button>

    </f:form>

    <f:if condition="{paginator.paginatedItems}">
        <div class="table-fit">
            <table class="typo3-dblist table table-hover">
                <thead>
                <tr class="t3-row-header">
                    <f:for each="{headers}" as="headerlabel" key="headerfield">
                        <th class="cell">
                            {headerlabel}
                            <f:link.action arguments="{orderby:'{headerfield}%20DESC',menuitem:'{currentconfig.uid}'}">
                                <rm:spriteManagerIcon iconName="status-status-sorting-desc"/>
                            </f:link.action>
                            <f:link.action arguments="{orderby:'{headerfield}%20ASC',menuitem:'{currentconfig.uid}'}">
                                <rm:spriteManagerIcon iconName="status-status-sorting-asc"/>
                            </f:link.action>
                        </th>
                    </f:for>
                </tr>
                </thead>
                <tbody>
                <f:for each="{paginator.paginatedItems}" as="row">
                    <tr class="db_list_normal">
                        <f:for each="{row}" as="field">
                            <td class="cell">{field}</td>
                        </f:for>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
        <f:render partial="Pagination" arguments="{_all}"/>
    </f:if>

    <f:for each="{exportmodes}" as="exportmode">
        <br/>
        <input type="button" value="{f:translate(key:'download',arguments:{0:'{exportmode.0}'})}" onclick="window.location.href='{exportmode.1}';">
        <br/>
    </f:for>

</f:section>