{namespace rm=Sng\Recordsmanager\ViewHelpers}

<f:layout name="Module"/>

<f:section name="Content">

    <f:if condition="{paginator.paginatedItems}">
        <div class="table-fit">
            <table class="typo3-dblist table table-hover">
                <thead>
                <tr class="t3-row-header">
                    <f:for each="{headers}" as="headerlabel" key="headerfield">
                        <th class="cell">
                            {headerlabel}
                            <f:link.action arguments="{orderby:'{headerfield}%20DESC',menuitem:'{currentconfig.uid}'}">
                                <rm:spriteManagerIcon iconName="status-status-sorting-desc"/>
                            </f:link.action>
                            <f:link.action arguments="{orderby:'{headerfield}%20ASC',menuitem:'{currentconfig.uid}'}">
                                <rm:spriteManagerIcon iconName="status-status-sorting-asc"/>
                            </f:link.action>
                        </th>
                    </f:for>
                    <th class="cell"></th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{paginator.paginatedItems}" as="row">
                    <tr class="db_list_normal">
                        <f:for each="{row}" as="field">
                            <td class="cell">{field}</td>
                        </f:for>
                        <td class="cell">
                            <button type="button" data-dispatch-action="TYPO3.InfoWindow.showItem" data-dispatch-args-list="{currentconfig.sqltable},{row.uid}" class="btn btn-default">
                                <rm:spriteManagerIcon iconName="actions-document-info"/>
                            </button>
                            <a href="{baseediturl}returnUrl={returnurl}&edit[{currentconfig.sqltable}][{row.uid}]=edit&recordsHide={disableFields}" class="btn btn-default">
                                <rm:spriteManagerIcon iconName="actions-document-open"/>
                            </a>
                            <button type="button"
                                    class="btn btn-default t3js-modal-trigger"
                                    title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:delete')}"
                                    data-severity="warning"
                                    aria-label="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:delete')}"
                                    aria-haspopup="dialog"
                                    data-button-ok-text="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:delete')}"
                                    data-button-close-text="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:cancel')}"
                                    data-l10nparent=""
                                    data-bs-content="{f:translate(key:'areyousure')}"
                                    data-uri="{deleteurlbase}&cmd[{currentconfig.sqltable}][{row.uid}][delete]=1"
                                    data-title="{f:translate(key:'LLL:EXT:backend/Resources/Private/Language/locallang_alt_doc.xlf:label.confirm.delete_record.title')}">
                                <rm:spriteManagerIcon iconName="actions-edit-delete"/>
                            </button>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
        <f:render partial="Pagination" arguments="{_all}"/>
    </f:if>

    <script type="text/javascript">
      function jumpToUrl (URL) {
        document.location = URL
      }

      function deleteRecord (table, id) {
        var areyousure = "<f:format.htmlspecialchars>{f:translate(key:'areyousure') -> f:format.raw()}</f:format.htmlspecialchars>"
        var deleteurl = "{deleteurl -> f:format.raw()}"
        if (confirm(areyousure)) {
          // jumpToUrl(deleteurl)
        }
        return false
      }
    </script>
</f:section>