{namespace rm=Sng\Recordsmanager\ViewHelpers}

<f:layout name="Module"/>

<f:section name="Content">

    <p>
        <f:translate key="addrecords"/>
    </p>

    <f:if condition="{pidsfind}">
        <div class="table-fit">
            <table class="typo3-dblist table table-hover">
                <thead>
                <tr class="t3-row-header">
                    <th width="80%">
                        <f:translate key="storage"/>
                    </th>
                    <th>
                        <f:translate key="pid"/>
                    </th>
                    <th>
                        <f:translate key="datas"/>
                    </th>
                </tr>
                </thead>
                <f:for each="{pidsfind}" as="pidfind">
                    <tr class="bgColor4">
                        <td>
                            <rm:spriteManagerIcon iconName="apps-filetree-folder-default"/>
                            <a href="{baseediturl}returnUrl={returnurl}&edit[{currentconfig.sqltable}][{pidfind.pid}]=new&recordsHide={disableFields}">
                                {pidfind.path}
                            </a>
                        </td>
                        <td>{pidfind.pid}</td>
                        <td>{pidfind.nbrecords}</td>
                    </tr>
                </f:for>
            </table>
        </div>
    </f:if>

    <f:if condition="{currentconfig.insertdefaultpid}">
        <br/>

        <div class="table-fit">
            <table class="typo3-dblist table table-hover">
                <thead>
                <tr class="t3-row-header">
                    <th width="80%">
                        <f:translate key="storageadmin"/>
                    </th>
                    <th>
                        <f:translate key="pid"/>
                    </th>
                    <th>
                        <f:translate key="datas"/>
                    </th>
                </tr>
                </thead>
                <f:for each="{pidsadmin}" as="pidadmin">
                    <tr class="bgColor4">
                        <td>
                            <rm:spriteManagerIcon iconName="apps-filetree-folder-default"/>
                            <a href="{baseediturl}returnUrl={returnurl}&edit[{currentconfig.sqltable}][{pidadmin.pid}]=new&recordsHide={disableFields}">
                                {pidadmin.path}
                            </a>
                        </td>
                        <td>{pidadmin.pid}</td>
                        <td>{pidadmin.nbrecords}</td>
                    </tr>
                </f:for>
            </table>
        </div>
    </f:if>
</f:section>